ul {
  list-style: none;
  padding-inline-start: 0;

  li a {
    text-decoration: none;
    color: var(--primary);

    &:hover {
      color: var(--primary-light);
    }

    &.active {
      color: var(--accent);
    }
  }
}


