.flex {
  display: flex;
}

.flex-item {
  flex: 1;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-column {
  flex-direction: column;
}
.full-height {
  height: 100vh;
}

.footer {
  order: 3;
  flex: 0 0 32px;
}

.main {
  width: 100%;
  height: 100%;
}

.justify-center {
  justify-content: center;
}

mat-sidenav {
  width: 200px;
}

.m {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.p {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.mat-drawer-container {
  background-color: #ffffff;
  color: #303030;
}
